<div id="register" fxLayout="column">

    <div id="register-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="register-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div id="FormTitle">
                <div class="formLogo">
                    <img src="assets/DoxaImages/thermomix-logo.png">
                </div>
                <div class="fromLanguage">
                    <button mat-icon-button>
                        <mat-icon>language</mat-icon>
                    </button>
                </div>
            </div>

            <div class="title">SIGN UP</div>

            <form name="registerForm" [formGroup]="registerForm" novalidate>
                <mat-label class="secondary-text">First Name</mat-label>
                <mat-form-field appearance="none">
                    <input matInput formControlName="fname" placeholder="Chen">
                    <div *ngIf="registerForm.get('fname').hasError('required') && registerForm.controls.fname.touched">
                        <app-alert>
                            <p>First Name is required</p>
                        </app-alert>
                    </div>
                </mat-form-field>
                <mat-label class="secondary-text">Last Name</mat-label>
                <mat-form-field appearance="none">
                    <input matInput formControlName="lname" placeholder="Cecilla">
                    <div *ngIf="registerForm.get('lname').hasError('required') && registerForm.controls.lname.touched">
                        <app-alert>
                            <p>Last Name is required</p>
                        </app-alert>
                    </div>
                </mat-form-field>

                <mat-label class="secondary-text">Email</mat-label>
                <mat-form-field appearance="none">
                    <input matInput formControlName="email" placeholder="Cecilla@gmail.com">
                    <div *ngIf="registerForm.get('email').hasError('required') && registerForm.controls.email.touched">
                        <app-alert>
                            <p>Email is required</p>
                        </app-alert>
                    </div>
                    <div *ngIf="!registerForm.get('email').hasError('required') &&
                                                    registerForm.get('email').hasError('email') && registerForm.controls.email.touched">
                        <app-alert>
                            <p>Please enter a valid email address</p>
                        </app-alert>
                    </div>
                </mat-form-field>

                <mat-label class="secondary-text">Designation</mat-label>
                <mat-form-field appearance="none" >
                    <mat-select value="mr" color="secondary-text">
                        <mat-option value="mr"> Mr.</mat-option>
                        <mat-option value="ms"> Ms.</mat-option>
                        <mat-option value="mrs"> Mrs.</mat-option>
                        <mat-option value="miss"> Miss</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-label class="secondary-text">Phone Number</mat-label>
                <div id="phoneNumber">
                        <mat-form-field appearance="none" id="phoneCode" >
                            <mat-select value="00">
                                <mat-option class="secondary-text" value="00"> +45</mat-option>
                                <mat-option value="01"> +46</mat-option>
                                <mat-option value="02"> +47</mat-option>
                                <mat-option value="03"> +48</mat-option>
                            </mat-select>
                        
                        </mat-form-field>
                        <mat-form-field appearance="none" id="phoneNum">
                            <input matInput formControlName="phoneNum" placeholder="123456">
                        </mat-form-field>
                        
                        <div id="alertPhoneNumber">
                            <div *ngIf="registerForm.get('phoneNum').hasError('required') && registerForm.controls.phoneNum.touched">
                                <app-alert>
                                    <p>Phone Number is required</p>
                                </app-alert>
                            </div>
                            <div
                                *ngIf="!registerForm.get('phoneNum').hasError('required') &&                                                                                                         registerForm.get('phoneNum').hasError('phoneNum') && registerForm.controls.phoneNum.touched">
                                <app-alert>
                                    <p>Phone Number must be a Number</p>
                                </app-alert>
                            </div>
                        </div>    
                </div>
                
                    
                <mat-label class="secondary-text">Advisor ID</mat-label>
                <mat-form-field appearance="none">
                    <input matInput formControlName="AdId" placeholder="1234">
                </mat-form-field>

                <mat-label class="secondary-text">Advisor Name</mat-label>
                <mat-form-field appearance="none">
                    <input matInput formControlName="AdNa" placeholder="Filla Wong">
                    
                </mat-form-field>

                <mat-label class="secondary-text">Password</mat-label>
                <mat-form-field appearance="none">
                    <input matInput type="password" formControlName="password" placeholder="********">
                    <div *ngIf="registerForm.get('password').hasError('required') && registerForm.controls.password.touched ">
                        <app-alert>
                            <p>Password is required</p>
                        </app-alert>
                    </div>
                    <div
                        *ngIf="!registerForm.get('password').hasError('required') && registerForm.controls.password.touched && registerForm.get('password').errors?.pattern">
                        <app-alert>
                            <p>Password is at least 8 character</p>
                        </app-alert>
                    </div>
                </mat-form-field>   


                <mat-label class="secondary-text">Confirm Password</mat-label>
                <mat-form-field appearance="none">
                    <input matInput type="password" formControlName="password" placeholder="********">
                </mat-form-field>


                <div class="terms" fxLayout="row" fxLayoutAlign="center center">
                    <mat-checkbox name="terms" aria-label="I read and accept" required></mat-checkbox>
                    <span> I agrees to <a href="#"> Term of Use</a> and <a href="#">Privacy Policy</a> Provided by Thermomix.</span>
                </div>
                
                <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
                    [disabled]="registerForm.invalid">
                    CREATE AN ACCOUNT
                </button>

            </form>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Already have an account? <a class="link" [routerLink]="'/pages/auth/login'">Sign In</a></span>
                
            </div>

        </div>
        <h2 class="FormFooter">Powerd by Doxa</h2>
    </div>

</div>