@import "src/@fuse/scss/fuse";
#login
{
    width: 100%;
    background: url('assets/DoxaImages/background.jpg') no-repeat;
    background-size: cover;
    
    #login-form-wrapper{
        flex: 1 0 auto;
        padding: 32px;
        @include media-breakpoint('xs') {
            padding: 16px;
        }
        #login-form {
            background-color: white;
            opacity: 1;
            width: 384px;
            max-width: 384px;
            padding: 24px;
            text-align: center;
            @include mat-elevation(16);

            @include media-breakpoint('xs') {
                padding: 24px;
                width: 100%;
            }
            #FormTitle{
                display: block;
                position: relative;
                padding: 0px;
                min-height: 40px;
                .formLogo {
                width: 144px;
                margin: 0px auto;
                display: inline-block;
                vertical-align: middle;
                }
                .fromLanguage{
                    color: green;
                    display: block;
                    position: absolute;
                    top: -5px;
                    right:-10px;
                }
            }
            

            
            
            #imgLogin{
                width: 244px;
                margin: 32px auto;
            }
            .title {
                font-size: 20px;
                margin: 16px 0 32px 0;
                color: #269A3E;
                letter-spacing: 0.19px;
                font-weight: 700;
            }

            form {
                width: 100%;
                text-align: left;
                mat-form-field {
                    width: 100%;
                    border: none;
                }
                input[type='password'],
                input[type='email']
                {
                    width: 100%;
                    height: 48px;
                    outline: none;
                    -webkit-box-shadow: 0px 3px 16px #00000029 !important;
                    -moz-box-shadow:  0px 3px 16px #00000029 !important;
                    box-shadow: 0px 3px 16px #00000029 !important;
                    border-radius: 8px;
                    opacity: 0.8;
                    position: relative;
                    padding-left: 8px;
                }
                mat-icon{
                    position: absolute;
                    top: -34px;
                    left: -26px;
                }
                
                .remember-forgot-password {
                    font-size: 14px;
                    margin-top: 8px;
                    width: 100%;
                   
                    .remember-me {
                        margin-bottom: 16px;
                        @include media-breakpoint('xs') {
                            font-size: 12px;
                        }
                    }

                    .forgot-password {
                        font-weight: 600;
                        margin-bottom: 16px;
                        @include media-breakpoint('xs') {
                            font-size: 12px;
                        }
                    }
                }

                .submit-button {
                    width: 100%;
                    margin: 16px auto;
                    display: block;
                    background-color: #269a3e;
                    color: white;
                    height: 48px;
                    @include media-breakpoint('xs') {
                        width: 90%;
                    }
                }
            }

            .register {
                margin: 32px auto 24px auto;
                font-weight: 600;

                .text {
                    margin-right: 8px;
                }
            }
            a{
                text-decoration: none;
                color: #0A73EB;
            }

        }
        .FormFooter{
            color: white;
            font-weight: 500;
            @include media-breakpoint('xs') {
                font-size: 12px;
            }
        }
    }
}