@import "src/@fuse/scss/fuse";
#forgot {
  width: 100%;
  background: url("assets/DoxaImages/background.jpg") no-repeat;
  background-size: cover;

  #forgot-form-wrapper {
    flex: 1 0 auto;
    padding: 32px;
    @include media-breakpoint("xs") {
      padding: 16px;
    }
    #forgot-form {
      background-color: white;
      opacity: 1;
      width: 384px;
      max-width: 384px;
      padding: 24px;
      text-align: center;
      @include mat-elevation(16);

      @include media-breakpoint("xs") {
        padding: 16px;
        width: 100%;
      }
      #FormTitle {
        display: block;
        position: relative;
        padding: 0px;
        min-height: 40px;
        .formLogo {
          width: 144px;
          margin: 0px auto;
          display: inline-block;
          vertical-align: middle;
        }
        .fromLanguage {
          color: green;
          display: block;
          position: absolute;
          top: -5px;
          right: -10px;
        }
        margin-bottom: 20px;
      }
      #forgotTitle {
        padding: 0px;
        display: inline;
        justify-content: center;
        button {
          margin-right: auto;
          margin-left: -32px;
        }
        .forgotText {
          display: inline-block;
          width: 70%;
          line-height: 1.2rem;
          text-align: center;
          font-size: 16px;
          @include media-breakpoint("xs") {
            font-size: 12px;
          }
          color: #269a3e;
          font-weight: 700;
          letter-spacing: 0.08px;
          opacity: 1;
        }
      }
      .forgotLogo {
        display: block;
        width: 250px;
        height: 205px;
        margin: 0px auto;
        margin-top: 55px;
      }
      .forgotDirection {
        margin-top: 50px;
        margin-bottom: 16px;
        text-align: left;
        color: #5a616f;
        p {
          padding: 0px 0px;
        }
      }
      .forgotForm {
        margin: 0px auto;
        margin-bottom: 150px;
        display: block;
        .inputForm {
          width: 100%;
          height: 40px;
          outline: none;
          -webkit-box-shadow: 0px 4px 16px #455b6314;
          -moz-box-shadow: 0px 4px 16px #455b6314;
          box-shadow: 0px 4px 16px #455b6314;
          opacity: 0.8;
          color: #5a616f;
        }
      }
      .btnforget {
        margin-top: 48px;
        .btnreset {
          padding: 0px;
          width: 48%;
          background-color: #269a3e;
          height: 48px;
          text-align: center;
          color: #ffffff;
          font-size: 14px;
          float: left;
        }
        .btncan {
          width: 48%;
          height: 48px;
          text-align: center;
          color: #788190;
          font-size: 14px;
          float: right;
          border: 1px solid #3bc46a;
          border-radius: 8px;
        }
      }
    }

    .FormFooter {
      color: white;
      font-weight: 500;
      @include media-breakpoint("xs") {
        font-size: 12px;
      }
    }
  }
}
